@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model PersonViewModel

<h1>Result</h1>
<ul>
    <li>@Model.Id</li>
    <li>@Model.Name</li>
</ul>

