@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@

@model Game
@{
}
<link  rel="stylesheet" href="~/css/game.css" />
<h1>GAME</h1>

<div class="game">
    <div class="game-person" id="game-person">
        <img src="~/Images/Person.png" />
    </div>
    <div class="game-object moving" id="game-object">
        <img src="~/Images/Comet.png" />
    </div>
</div>
    <heart-element></heart-element>
    <div class="score"> </div>
<script type="module" src="~/js/game.js"></script>
