@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Friend dashboard";
}
@using Microsoft.AspNetCore.Identity
@using Setup.Areas.Identity.Data

@inject SignInManager<AuthUser> SignInManager


    @if (SignInManager.IsSignedIn(User))
    {
        <h5>Highscore: @ViewBag.score</h5>
        <h2>Friends</h2>
      <template id="friends-app-tpl">
        
            <div class="table-friends">
                <div class="table-friends--head">
                    <div class="table-friends--cel">username</div>
                    <div class="table-friends--cel">Score</div>
                    <div class="table-friends--cel">Delete</div>
                </div>
                <div class="table-friends--body">

                </div>
            </div>
            <div class="table-friends">
                <h3>Requests</h3>
                <div class="table-friends--head">
                    <div class="table-friends--cel">username</div>
                    <div class="table-friends--cel">Score</div>
                    <div class="table-friends--cel">Accept</div>
                    <div class="table-friends--cel">Delete</div>
                </div>
                <div class="table-requests--body">

                </div>
            </div>
            <div class="search-friends">
                <div class="search-friends--body">
                    
                </div>
            </div>
        </template>
    <friends-app user=@ViewBag.id />

       
        
    }
<template id="friends-item-tpl">
    <div class="friends-item--container">
        <div class="table-friends--cel" data-bind="name">name</div>
        <div class="table-friends--cel" data-bind="score">score</div>
        <div class="table-friends--cel" data-bind="delete"><button>Delete</button></div> 
    </div>
       
</template>
<template id="friends-search-tpl">
    <div class="friends-search--container">
        <div class="table-friends--cel"><input type="text" name="username" id="username" placeholder="username" /></div>
        <div class="table-friends--cel" data-bind="Add"><button>Add</button></div> 
    </div>
       
</template>
<template id="friends-requests-tpl">
    <div class="friends-requests--container">
        <div class="table-friends--cel" data-bind="name">name</div>
        <div class="table-friends--cel" data-bind="score">score</div>
        <div class="table-friends--cel" data-bind="accept"><button>Accept</button></div> 
        <div class="table-friends--cel" data-bind="delete"><button>Delete</button></div> 
    </div>
       
</template>
    <script type="module" src="~/js/friends.js"></script>