@{
    ViewData["Title"] = "Home Page";
   
}
@using Microsoft.AspNetCore.Identity
@using Setup.Areas.Identity.Data

@inject SignInManager<AuthUser> SignInManager
@inject UserManager<AuthUser> UserManager

<div class="text-center">
    <h1 class="display-4">Home</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <p>Deze view is @ViewBag.AmountOfViews keer bekeken</p>
</div>
@if (SignInManager.IsSignedIn(User))
{




    <div class="container">

        <h2 class="text-center">Global chat</h2>
        <input type="hidden" id="userInput" value="@UserManager.GetUserName(User)" />

        <div class="row p-1">
            <div class="col-1">Message</div>
            <div class="col-5"><input type="text" class="w-100" id="messageInput" /></div>
        </div>
        <div class="row p-1">
            <div class="col-6 text-end">
                <input type="button" id="sendButton" value="Send Message" />
            </div>
        </div>
        <div class="row p-1">
            <div class="col-6">
                <hr />
            </div>
        </div>
        <div class="row p-1">
            <div class="col-6">
                <ul id="messagesList"></ul>
            </div>
        </div>
    </div>
}
<script src="~/js/signalr/dist/browser/signalr.js"></script>
<script src="~/js/chat.js"></script>